* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  touch-action: pan-x;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Remove offset in RTL mode on mobile */
@media (max-width: 991px) {
  [dir="rtl"] .offset-lg-2 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/* Remove offset in RTL mode on desktop as well */
[dir="rtl"] .offset-lg-2 {
  margin-inline-start: 0 !important;
}

/* Fix accordion arrow alignment in RTL mode */
[dir="rtl"] .accordion-button::after {
  margin-left: 0 !important;
  margin-right: auto !important;
}

[dir="rtl"] .tc-process-style2 .accordion-item .accordion-button {
  text-align: right;
}

[dir="rtl"] .tc-process-style2 .accordion-item .accordion-button .num {
  margin-inline-end: 0 !important;
  margin-inline-start: 30px !important;
}

[dir="rtl"] .tc-process-style2 .accordion-item .accordion-body {
  padding-inline-start: 50px !important;
  padding-inline-end: 85px !important;
}
