* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  touch-action: pan-x;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}
