* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  touch-action: pan-x;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Remove offset in RTL mode on mobile */
@media (max-width: 991px) {
  [dir="rtl"] .offset-lg-2 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/* Remove offset in RTL mode on desktop as well */
[dir="rtl"] .offset-lg-2 {
  margin-inline-start: 0 !important;
}
